.container {
    aspect-ratio: 960/300;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    position: absolute;
    background-image: url('../public/layered-waves-haikei.svg');
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}