
.card {
    height: 20vh;
    width: 15vw;
    position: relative;
    margin: 1rem;
    margin-bottom: 5rem;
}

.card img {
    z-index: -1;
}


.emoji{
    background-color: white;
    z-index: 1;
    position: absolute;
    bottom: 0;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    padding: 0.2rem;
    border-radius: 50%;
    text-align: center;
    left: calc(50% - (3rem / 2));
    bottom: calc(-1* (3rem/2));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


@media screen and (max-width: 850px) {
    .card {
        height: 20vh;
        width: 30vw;
        position: relative;
        margin: 1rem;
        margin-bottom: 5rem;

    }
}

@media screen and (max-width: 600px) {
    .card {
        height: 20vh;
        width: 50vw;
        position: relative;
        margin: 1rem;
        margin-bottom: 5rem;

    }
}