html,
body {
  padding: 0;
  margin: 0;
  width: 100vw !important;
  height: 100vh !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media screen and (min-width: 601px) {
  :root {
    background-color: whitesmoke;
    color: #f4f4f4;
    font-size: 18px;
    font-family: 'Oxygen', sans-serif;
    --title-font: 6rem;
    --title-height: 2.5ex;
  }

}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  :root {
    background-color: whitesmoke;
    color: #f4f4f4;
    font-size: 14px;
    font-family: 'Oxygen', sans-serif;
    --title-font: 6rem;
    --title-height: 2.5ex;
  }

}

