.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
}

.container>div:nth-child(2) {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carro {
    margin-top: 1.5rem !important;
    width: 60vw;

    position: relative;
    background-color: antiquewhite;
}




@media screen and (max-width: 600px) {
    .carro {
        margin-top: 1.5rem !important;
        width: 80vw;

        position: relative;
        background-color: antiquewhite;
    }
}