.container {
    font-size: calc(var(--title-font));
    font-weight: 600;
    letter-spacing: 0.5rem;
    padding: 0;
    position: relative;

}


.container>div {
    width: 100vw;
    display: flex;
    height: var(--title-height);
    justify-content: center;
    align-items: center;
}

.container>div>div:first-child {}

.five {

    color: #4db3d0;
    position: relative;
    height: inherit;
    overflow: hidden;
}